html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.row .inner {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
}

/* section-symptoms */
.section-symptoms {
    display: block;
    width: 100%;
}
.section-symptoms .box {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    font-size: 0;
    text-align: center;
}
.section-symptoms .box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-symptoms .box ul li {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    font-size: initial;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.section-symptoms .box ul li label {
    display: block;
    width: 100%;
    background-color: #f5f3f3;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    padding: 30px 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.section-symptoms .box ul li.active label {
    color: #ffffff;
    background-color: rgb(71, 127, 211);
    box-shadow: 1px 2px 11px rgba(44, 44, 44, 0.4);
}
.section-symptoms .box ul li label input[type="checkbox"] {
    display: none;
}
.section-symptoms .box ul li label img {
    display: block;
    width: 75px;
    height: auto;
    margin: 0 auto;
}
.section-symptoms .box ul li label span.text {
    display: block;
}