<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisa sintomas</title>
    <link rel="stylesheet" href="/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="sidebar">

        <div class="box">
            <div class="symptoms scrollbar-macosx"></div>
        </div>

    </div>

    <div class="content">

        <div class="heading">
            <strong>Selecione os sintomas para obter o pré-resultado.</strong>
            <small>A ferramenta não subistitui a consulta ao médico, pois é apenas um projeto acadêmico do curso de Big
                Data e Inteligência Artificial, na PUC-GO!</small>
        </div>

        <div class="body">

            <!-- <div class="alert">
                <p>Nenhum resultado analisado</p>
            </div> -->

            <div class="section-title">
                <strong>Resultado(s) da analise:</strong>
            </div>

            <div class="meme">
                <div class="emoji">🙏 ❤️ 🕊</div>
                <img src="/images/meme.gif">
            </div>

            <div class="results">

                <div class="box">
                    <p>Você tem <b>85%</b> dos sintomas de <b>asma</b></p>
                    <div class="progressbar">
                        <span class="bg"></span>
                        <span class="bar" style="width: calc(100% - 85%);"></span>
                    </div>
                </div>

                <div class="box">
                    <p>Você tem <b>50%</b> dos sintomas de <b>bronquite</b></p>
                    <div class="progressbar">
                        <span class="bg"></span>
                        <span class="bar" style="width: calc(100% - 50%);"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>