<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisa sintomas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="section-symptoms">

        <div class="row">
            <div class="inner">

                <div class="box">
                    <ul>
                        <li>
                            <label>
                                <img src="/images/febre.png" alt="Febre">
                                <span class="text">Febre</span>
                                <input type="checkbox" name="symptom[]" data-symptom="febre">
                            </label>
                        </li>
                        <li class="active">
                            <label>
                                <img src="/images/tosse.png" alt="Febre">
                                <span class="text">Tosse</span>
                                <input type="checkbox" name="symptom[]" data-symptom="tosse">
                            </label>
                        </li>
                        <li>
                            <label>
                                <img src="/images/cansaco.png" alt="Febre">
                                <span class="text">Cansaço</span>
                                <input type="checkbox" name="symptom[]" data-symptom="cansaco">
                            </label>
                        </li>
                        <li class="active">
                            <label>
                                <img src="/images/perda-paladar.png" alt="Febre">
                                <span class="text">Perda de paladar</span>
                                <input type="checkbox" name="symptom[]" data-symptom="perda-paladar">
                            </label>
                        </li>
                        <li>
                            <label>
                                <img src="/images/perda-olfato.png" alt="Febre">
                                <span class="text">Perda de olfato</span>
                                <input type="checkbox" name="symptom[]" data-symptom="perda-olfato">
                            </label>
                        </li>
                        <li>
                            <label>
                                <img src="/images/falta-ar.png" alt="Febre">
                                <span class="text">Falta de ar</span>
                                <input type="checkbox" name="symptom[]" data-symptom="falta-ar">
                            </label>
                        </li>
                        <li class="active">
                            <label>
                                <img src="/images/dores-peito.png" alt="Febre">
                                <span class="text">Dores no peito</span>
                                <input type="checkbox" name="symptom[]" data-symptom="dor-peito">
                            </label>
                        </li>
                        <li>
                            <label>
                                <img src="/images/perda-fala.png" alt="Febre">
                                <span class="text">Perda da fala</span>
                                <input type="checkbox" name="symptom[]" data-symptom="perda-fala">
                            </label>
                        </li>
                        <li>
                            <label>
                                Dores nas costas
                                <input type="checkbox" name="symptom[]" data-symptom="dor-costas">
                            </label>
                        </li>
                        <li>
                            <label>
                                Calafrios
                                <input type="checkbox" name="symptom[]" data-symptom="calafrios">
                            </label>
                        </li>
                        <li>
                            <label>
                                Pele fria e úmida
                                <input type="checkbox" name="symptom[]" data-symptom="pele-fria-umida">
                            </label>
                        </li>
                        <li>
                            <label>
                                Suor
                                <input type="checkbox" name="symptom[]" data-symptom="suor">
                            </label>
                        </li>
                        <li>
                            <label>
                                Ritmo cardíaco acelerado
                                <input type="checkbox" name="symptom[]" data-symptom="ritmo-cardiaco-acelerado">
                            </label>
                        </li>
                        <li>
                            <label>
                                Fadiga
                                <input type="checkbox" name="symptom[]" data-symptom="fadiga">
                            </label>
                        </li>
                        <li>
                            <label>
                                Chiado no peito
                                <input type="checkbox" name="symptom[]" data-symptom="chiado-peito">
                            </label>
                        </li>
                        <li>
                            <label>
                                Ansiedade
                                <input type="checkbox" name="symptom[]" data-symptom="ansiedade">
                            </label>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>