<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisa sintomas</title>
    <link rel="stylesheet" href="/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="sidebar">

        <div class="box">

            <div class="symptoms scrollbar-macosx">

                <ul>
                    <li>
                        <label>
                            <img src="/images/febre.png" alt="Febre">
                            <span class="text">Febre</span>
                            <input type="checkbox" name="symptom[]" data-symptom="febre">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/tosse.png" alt="Tosse">
                            <span class="text">Tosse</span>
                            <input type="checkbox" name="symptom[]" data-symptom="tosse">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/cansaco.png" alt="Cansaço">
                            <span class="text">Cansaço</span>
                            <input type="checkbox" name="symptom[]" data-symptom="cansaco">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/perda-paladar.png" alt="Perda de paladar">
                            <span class="text">Perda de paladar</span>
                            <input type="checkbox" name="symptom[]" data-symptom="perda-paladar">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/perda-olfato.png" alt="Perda de olfato">
                            <span class="text">Perda de olfato</span>
                            <input type="checkbox" name="symptom[]" data-symptom="perda-olfato">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/falta-ar.png" alt="Falta de ar">
                            <span class="text">Falta de ar</span>
                            <input type="checkbox" name="symptom[]" data-symptom="falta-ar">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/dores-peito.png" alt="Dores no peito">
                            <span class="text">Dores no peito</span>
                            <input type="checkbox" name="symptom[]" data-symptom="dor-peito">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/perda-fala.png" alt="Perda da fala">
                            <span class="text">Perda da fala</span>
                            <input type="checkbox" name="symptom[]" data-symptom="perda-fala">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/dores-costas.png" alt="Dores nas costas">
                            <span class="text">Dores nas costas</span>
                            <input type="checkbox" name="symptom[]" data-symptom="dor-costas">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/calafrios.png" alt="Calafrios">
                            <span class="text">Calafrios</span>
                            <input type="checkbox" name="symptom[]" data-symptom="calafrios">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/pele-fria-umida.png" alt="Pele fria e úmida">
                            <span class="text">Pele fria e úmida</span>
                            <input type="checkbox" name="symptom[]" data-symptom="pele-fria-umida">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/suor.png" alt="Suor">
                            <span class="text">Suor</span>
                            <input type="checkbox" name="symptom[]" data-symptom="suor">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/cardiaco-acelerado.png" alt="Febre">
                            <span class="text">Ritmo cardíaco acelerado</span>
                            <input type="checkbox" name="symptom[]" data-symptom="cardiaco-acelerado">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/fadiga.png" alt="Fadiga">
                            <span class="text">Fadiga</span>
                            <input type="checkbox" name="symptom[]" data-symptom="fadiga">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/chiado-peito.png" alt="Chiado no peito">
                            <span class="text">Chiado no peito</span>
                            <input type="checkbox" name="symptom[]" data-symptom="chiado-peito">
                        </label>
                    </li>
                    <li>
                        <label>
                            <img src="/images/ansiedade.png" alt="Ansiedade">
                            <span class="text">Ansiedade</span>
                            <input type="checkbox" name="symptom[]" data-symptom="ansiedade">
                        </label>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="content">

        <div class="heading">
            <strong>Selecione os sintomas para obter o pré-resultado.</strong>
            <small>A ferramenta não subistitui a consulta ao médico, pois é apenas um projeto acadêmico do curso de Big
                Data e Inteligência Artificial, na PUC-GO!</small>
        </div>

        <div class="body">

            <!-- <div class="alert">
                <p>Nenhum resultado analisado</p>
            </div> -->

            <div class="section-title">
                <strong>Resultado(s) da analise:</strong>
            </div>

            <div class="meme">
                <div class="emoji">🙏 ❤️ 🕊</div>
                <img src="/images/meme.gif">
            </div>

            <div class="results">

                <div class="box">
                    <p>Você tem <b>85%</b> dos sintomas de <b>asma</b></p>
                    <div class="progressbar">
                        <span class="bg"></span>
                        <span class="bar" style="width: calc(100% - 85%);"></span>
                    </div>
                </div>

                <div class="box">
                    <p>Você tem <b>50%</b> dos sintomas de <b>bronquite</b></p>
                    <div class="progressbar">
                        <span class="bg"></span>
                        <span class="bar" style="width: calc(100% - 50%);"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>